<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

  <title><%= title %></title>

  <style>
    .icon {
      width: 50px;
      height: 50px;
      background-color: #eee;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 39px
    }
  </style>
</head>

<body>
  <div class="container py-5">
    <div class="row mb-3">
      <div class="col-12">
        <div class="d-md-flex align-items-center justify-content-between text-center">
          <svg style="vertical-align:middle" width="50" height="45" viewBox="0 0 50 45" fill="none"
            class="footer-module--logo--_lkxx">
            <path
              d="M31.968 34.681a2.007 2.007 0 002.011-2.003c0-1.106-.9-2.003-2.011-2.003a2.007 2.007 0 00-2.012 2.003c0 1.106.9 2.003 2.012 2.003z"
              fill="#7D64FF"></path>
            <path
              d="M39.575 0L27.154 16.883 16.729 9.31 0 45h50L39.575 0zM23.663 37.17l-2.97-4.072v4.072h-2.751V22.038l2.75 1.989v7.66l3.659-5.014 2.086 1.51-3.071 4.21 3.486 4.776h-3.189v.001zm8.305.17c-2.586 0-4.681-2.088-4.681-4.662 0-1.025.332-1.972.896-2.743l4.695-6.435 2.086 1.51-2.239 3.07a4.667 4.667 0 013.924 4.6c0 2.572-2.095 4.66-4.681 4.66z"
              fill="#7D64FF"></path>
          </svg>
          <h2 class="mt-3"><%= title %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="card p-3" style="height: 239px;">
          <div class="card-body text-center">
            <div class="icon bg-info mx-auto mb-3"><i class="bx bx-globe"></i></div>
            <h5 class="card-title">Total Request</h5>
              <h1><%= (data.metrics.http_reqs) ? data.metrics.http_reqs.values.count : '' %></h1>
              <h1><%= (data.metrics.grpc_reqs) ? data.metrics.grpc_reqs.values.count : '' %></h1>
          </div>
        </div>
      </div>
      <% if(data.metrics.http_req_failed && data.metrics.http_req_failed.values) { %>
        <div class="col mb-3">
          <div class="card p-3 <% if(data.metrics.http_req_failed.values.passes > 0) { %> bg-danger text-white <% } %>" style="height: 239px;">
            <div class="card-body text-center">
              <div class="icon bg-white mx-auto mb-3"><i class="text-danger bx bx-window-close"></i></div>
              <h5 class="card-title">Failed Requests</h5>
              <h1><%= data.metrics.http_req_failed.values.passes %></h1>
            </div>
          </div>
        </div>
      <% } %>
      <div class="col mb-3">
        <div class="card p-3" style="height: 239px;">
          <div class="card-body text-center">
            <div class="icon bg-warning mx-auto mb-3"><i class='bx bx-circle-three-quarter'></i></div>
            <h5 class="card-title">Breached Thresholds</h5>
              <h1><%= thresholdFailures %></h1>
          </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card p-3 <% if(checkFailures > 0) { %> bg-danger text-white <% } %>" style="height: 239px;">
          <div class="card-body text-center">
            <div class="icon mx-auto mb-3 <% if(checkFailures == 0) { %> bg-success <% } %>"><i class='bx <%= (checkFailures > 0) ? "bx-error-circle text-danger" : "bx-check-circle text-white" %>'></i></div>
            <h5 class="card-title">Failed Checks</h5>
            <h1><%= checkFailures %></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item mx-auto" role="presentation">
            <button class="nav-link active text-black btn-block" id="request-metrics-tab" data-bs-toggle="tab" data-bs-target="#request-metrics"
              type="button" role="tab" aria-controls="request-metrics" aria-selected="true">Request Metrics</button>
          </li>
          <li class="nav-item mx-auto" role="presentation">
            <button class="nav-link text-black btn-block" id="other-stats-tab" data-bs-toggle="tab" data-bs-target="#other-stats" type="button"
              role="tab" aria-controls="other-stats" aria-selected="false">Other Stats</button>
          </li>
          <li class="nav-item mx-auto" role="presentation">
            <button class="nav-link text-black btn-block" id="checks-and-group-tab" data-bs-toggle="tab" data-bs-target="#checks-and-groups"
              type="button" role="tab" aria-controls="checks-and-group" aria-selected="false">Checks & Groups</button>
          </li>
        </ul>

        <div class="tab-content mt-3">
          <div class="tab-pane active" id="request-metrics" role="tabpanel" aria-labelledby="request-metrics-tab">
            <div class="row">
              <div class="col-12 mb-3">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <th></th>
                      <th>Count</th>
                      <th>Rate</th>
                      <th>Average</th>
                      <th>Minimum</th>
                      <th>Median</th>
                      <th>Maximum</th>
                      <th>90th Percentile</th>
                      <th>95th Percentile</th>
                      <th>99th Percentile</th>
                    </thead>
                    <tbody>
                      <% function checkFailed(metric, valName) { 
                          if(!metric.thresholds) return '' 
                          for(thres in metric.thresholds) {
                            if(thres.includes(valName)) { 
                              if(!metric.thresholds[thres].ok) return 'bg-danger text-white' 
                              return 'bg-success text-white' 
                            } 
                          } 
                        } 
                        
                        for(metricName of standardMetrics) { 
                          if(!data.metrics[metricName]) { continue } 
                          var metric=data.metrics[metricName] %>
                        <tr>
                          <td><b><%= metricName %></b></td>
                          <% if(metric.values.count) { %> <td class="<%= checkFailed(metric, 'count') %>"><%= metric.values.count.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                          <% if(metric.values.rate) { %> <td class="<%= checkFailed(metric, 'rate') %>"><%= metric.values.rate.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                          <% if(metric.values.avg) { %> <td class="<%= checkFailed(metric, 'avg') %>"><%= metric.values.avg.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                          <% if(metric.values.min) { %> <td class="<%= checkFailed(metric, 'min') %>"><%= metric.values.min.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                          <% if(metric.values.med) { %> <td class="<%= checkFailed(metric, 'med') %>"><%= metric.values.med.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                          <% if(metric.values.max) { %> <td class="<%= checkFailed(metric, 'max') %>"><%= metric.values.max.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                          <% if(metric.values['p(90)']) { %> <td class="<%= checkFailed(metric, 'p(90)') %>"><%= metric.values['p(90)'].toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                          <% if(metric.values['p(95)']) { %> <td class="<%= checkFailed(metric, 'p(95)') %>"><%= metric.values['p(95)'].toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                          <% if(metric.values['p(99)']) { %> <td class="<%= checkFailed(metric, 'p(99)') %>"><%= metric.values['p(99)'].toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>

              <% first=true 
                var sortedMetrics={} 
                Object.keys(data.metrics).sort().forEach(function(k) {
                  sortedMetrics[k]=data.metrics[k] 
                }); 
                
                for(metricName in sortedMetrics) { 
                  if(standardMetrics.includes(metricName) || otherMetrics.includes(metricName)) { continue } 
                  var metric=sortedMetrics[metricName] %>

              <div class="col-md-12 mb-3">
                <% if(first) { first=false %> <h2>Custom Metrics</h2> <% } %>
                <div class="table-responsive">
                  <table class="table striped">
                    <% if(first) { first=false %>
                    <thead>
                      <th></th>
                      <th>Count</th>
                      <th>Rate</th>
                      <th>Average</th>
                      <th>Minimum</th>
                      <th>Median</th>
                      <th>Maximum</th>
                      <th>90th Percentile</th>
                      <th>95th Percentile</th>
                    </thead>
                    <% } %>
                    <tbody>
                      <tr>
                        <td><b><%= metricName %></b></td>
                        <% if(metric.values.count) { %> <td class="<%= checkFailed(metric, 'count') %>"><%= metric.values.count.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                        <% if(metric.values.rate) { %> <td class="<%= checkFailed(metric, 'rate') %>"><%= metric.values.rate.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                        <% if(metric.values.avg) { %> <td class="<%= checkFailed(metric, 'avg') %>"><%= metric.values.avg.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                        <% if(metric.values.min) { %> <td class="<%= checkFailed(metric, 'min') %>"><%= metric.values.min.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                        <% if(metric.values.med) { %> <td class="<%= checkFailed(metric, 'med') %>"><%= metric.values.med.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                        <% if(metric.values.max) { %> <td class="<%= checkFailed(metric, 'max') %>"><%= metric.values.max.toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                        <% if(metric.values['p(90)']) { %> <td class="<%= checkFailed(metric, 'p(90)') %>"><%= metric.values['p(90)'].toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                        <% if(metric.values['p(95)']) { %> <td class="<%= checkFailed(metric, 'p(95)') %>"><%= metric.values['p(95)'].toFixed(2) %></td> <% } else { %> <td>-</td> <% } %>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <% } %>
              <div class="col-12">
                <span class="text-muted"><b>Note</b> All times are in milli-seconds</span>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="other-stats" role="tabpanel" aria-labelledby="other-stats-tab">
            <div class="row">
              <% if (data.metrics.checks) { %>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Checks</span>
                    <i class='bx bx-check-circle'></i>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>Passed</div>
                      <div class="text-right"><%= data.metrics.checks.values.passes %></div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div>Failed</div>
                      <div class="text-right"><%= data.metrics.checks.values.fails %></div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
              <% if (data.metrics.iterations) { %>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Iterations</span>
                    <i class='bx bx-revision'></i>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>Total</div>
                      <div class="text-right"><%= data.metrics.iterations.values.count %></div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div>Rate</div>
                      <div class="text-right"><%= data.metrics.iterations.values.rate.toFixed(2) %>/s</div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Virtual Users</span>
                    <i class='bx bx-user'></i>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>Min</div>
                      <div class="text-right"><%= data.metrics.vus ? data.metrics.vus.values.min : 1 %></div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div>Max</div>
                      <div class="text-right"><%= data.metrics.vus ? data.metrics.vus.values.max : 1 %></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Requests</span>
                    <i class='bx bx-globe-alt'></i>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>Total</div>
                      <div class="text-right"><%= data.metrics.http_reqs ? data.metrics.http_reqs.values.count : '-' %></div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div>Rate</div>
                      <div class="text-right"><%= data.metrics.http_reqs ? data.metrics.http_reqs.values.rate.toFixed(2) : '-' %>/s</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Data Received</span>
                    <i class='bx bx-cloud-download'></i>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>Total</div>
                      <div class="text-right"><%= (data.metrics.data_received.values.count/1000000).toFixed(2) %> MB</div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div>Rate</div>
                      <div class="text-right"><%= (data.metrics.data_received.values.rate/1000000).toFixed(2) %> mB/s</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Data Sent</span>
                    <i class='bx bx-cloud-upload'></i>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>Total</div>
                      <div class="text-right"><%= (data.metrics.data_sent.values.count/1000000).toFixed(2) %> MB</div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div>Rate</div>
                      <div class="text-right"><%= (data.metrics.data_sent.values.rate/1000000).toFixed(2) %> mB/s</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="checks-and-groups" role="tabpanel" aria-labelledby="checks-and-group-tab">
            <div class="row">
              <% for(group of data.root_group.groups) { %>
              <div class="col-12 mb-3">
                <h4 class="mb-3">Group - <%= group.name %></h4>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <th>Check</th>
                      <th class="text-right">Passes</th>
                      <th class="text-right">Failures</th>
                    </thead>
                    <tbody>
                      <% for(check of group.checks) { %>
                      <tr>
                        <td class="<% if(check.fails > 0) { %> bg-danger text-white <% } %>"><%= check.name %></td>
                        <td class="text-right <% if(check.fails > 0) { %> bg-danger text-white <% } %>"><%= check.passes %></td>
                        <td class="text-right <% if(check.fails > 0) { %> bg-danger text-white <% } %>"><%= check.fails %></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <% } %>
              <div class="col-12 mb-3">
                <h4 class="mb-3">Other Checks</h4>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <th>Check</th>
                      <th class="text-right">Passes</th>
                      <th class="text-right">Failures</th>
                    </thead>
                    <tbody>
                      <% for(check of data.root_group.checks) { %>
                      <tr>
                        <td class="<% if(check.fails > 0) { %> bg-danger text-white <% } %>"><%= check.name %></td>
                        <td class="text-right <% if(check.fails > 0) { %> bg-danger text-white <% } %>"><%= check.passes %></td>
                        <td class="text-right <% if(check.fails > 0) { %> bg-danger text-white <% } %>"><%= check.fails %></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="row p-4 text-center">
      <div class="col-12">
        <span class="text-muted">K6 Reporter v<%= version %> - Ben Coleman 2025, <a href="https://github.com/benc-uk/k6-reporter" class="text-black">[GitHub]</a> . Template designed by Khoerul Umam 2022 <a class="text-black" href="https://github.com/khumam">[GitHub]</a></span>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>